:root {
	--bg-color: #23201f;
	--white: #fffffe;
	--orange: #ffd39b;
	--red: #b30107;
}

body {
	background-color: var(--bg-color);
	font-family: "Playfair Display", serif;
}

.container {
	padding-left: 2vw;
	padding-right: 2vw;
	display: grid;
	grid-template-rows: 0.1fr 0.6fr 0.4fr 0.4fr 0.4fr 0.4fr 0.4fr;
}

/* header */
.header {
	display: grid;
	grid-template-columns: 1fr 0.2fr;

	h1 {
		color: var(--orange);
		word-break: keep-all;
		font-size: 1.5vh;
		margin-top: 0;

		span {
			color: var(--white);
			font-size: 1.5em;

			span {
				color: var(--red);
			}
		}
	}

	.icons {
		display: grid;
		align-items: center;
		place-items: center;
		grid-template-columns: 0.5fr 0.5fr;
		font-size: 1vh;
	}
}

.slide {
	position: absolute;
	width: 100%;
	opacity: 0;
	animation: slideAnimation 15s infinite;
}

.slide:nth-child(1) {
	animation-delay: 0s;
}

.slide:nth-child(2) {
	animation-delay: 5s;
}

.slide:nth-child(3) {
	animation-delay: 10s;
}

/* キーフレームアニメーション */
@keyframes slideAnimation {
	0% {
		opacity: 0;
	}

	10% {
		opacity: 1;
	}

	30% {
		opacity: 1;
	}

	40% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

/* hero-image */
.hero-image {
	position: relative;
	width: 100%;

	img {
		aspect-ratio: 3 / 1;
		height: auto;
		width: 100%;
		object-fit: cover;
		border-radius: 1em;
	}

	@media (max-width: 767px) {
		img {
			aspect-ratio: 1 / 1;
		}
	}
}

/* concept */
.concept {
	text-align: center;
	padding-top: 18vw;
	margin-bottom: 2vw;

	h2 {
		color: var(--orange);
		font-size: 2vh;
		text-decoration: solid underline var(--white) 2px;
		text-underline-offset: 0.2em;
	}

	p {
		font-size: 1vw;
		color: var(--white);
	}

	@media (max-width: 767px) {
		padding-top: 55vw;
	}
}

/* news */
.news {
	text-align: center;
	height: 20vh;
	border-radius: 1em;
	background-color: var(--white);

	h2 {
		padding-top: 0.5em;
		color: var(--bg-color);
		font-size: 2vh;
		text-decoration: solid underline var(--bg-color) 2px;
		text-underline-offset: 0.2em;
	}

	.news-container {
		display: grid;
		grid-template-columns: 0.5fr 1fr;
		border-bottom: var(--bg-color);
		border-bottom: solid 0.5px;
		margin-left: 8vw;
		margin-right: 8vw;

		h3 {
			text-align: left;
			font-size: 1vh;
		}
	}
}

/* menu */
.menu {
	text-align: center;
	margin-bottom: 2vh;

	h2 {
		color: var(--orange);
		font-size: 2vh;
		text-decoration: solid underline var(--white) 2px;
		text-underline-offset: 0.2em;
	}

	.image-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	img {
		aspect-ratio: 3 / 2;
		height: auto;
		width: 100%;
		object-fit: cover;
		border-radius: 1em;
	}

	img:hover {
		transform: scale(1.05, 1.05);
		transition: 0.5s all;
	}
}

/* access */
.access {
	text-align: center;
	align-items: center;
	height: 40vh;
	border-radius: 1em;
	background-color: var(--white);

	h2 {
		padding-top: 0.5em;
		color: var(--bg-color);
		font-size: 2vh;
		text-decoration: solid underline var(--bg-color) 2px;
		text-underline-offset: 0.2em;
	}

	.iframe-container {
		margin: 0 auto;
		text-align: center;
		height: 70%;
		width: 70%;
	}

	iframe {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 1em;
	}
}

/* detail */
.detail {
	text-align: center;

	h2 {
		color: var(--orange);
		font-size: 2vh;
		text-decoration: solid underline var(--white) 2px;
		text-underline-offset: 0.2em;
	}

	h3 {
		color: var(--white);
	}

	.detail-low {
		width: 80%;
		text-align: left;
		display: grid;
		grid-template-columns: 0.5fr 1fr;
		border-bottom: var(--white) solid 0.5px;
		margin-left: 6em;
		margin-right: 6em;
		margin: 0 auto;
	}
}

footer p {
	margin-top: 3vw;
	text-align: center;
	color: var(--white);
	font-size: 0.5em;
}
